# dependencies
node_modules/
.pnp
.pnp.*

# next.js
.next/
out/
dist/

# env & secrets
.env
.env.local
.env.*.local

# build / cache
tsconfig.tsbuildinfo
*.tsbuildinfo

# app runtime
var/

# OS & editor
.DS_Store
._*
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel
